<a href="https://colab.research.google.com/github/visiont3lab/machine-learning-fav/blob/master/cartellaX/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparazione

In [ ]:
!pip gfgflist

In [ ]:
pip install seaborn matplotlib pandas

In [ ]:
!pip install  names

# Pandas

* [Pandas Get started Documentation](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html#getting-started)
* [Dataset italia covid 19](https://github.com/pcm-dpc/COVID-19)
* [Dataset mondo covid 19](https://github.com/open-covid-19/data)

## Dataframe and Basic operations

In [ ]:
import pandas as pd

In [ ]:
# Datafrane (dict-like container for Series Object)
# Each column of a dataframe is a Series
content = {
    "Nome": ["Manuel", "Giada", "Marco", "Francesca"],
    "Età" : ["26", "25", "28", "29"],
    "Sesso": ["M", "F", "M", "F"]
}
df = pd.DataFrame(content, index=[4,5,6,7] )
#display(df)
df

In [ ]:
df.keys()
# Accedere a tutte le colonne e selezionare qualcosa
for name in df.keys():
    print(name)

In [ ]:
arr = df.values
display(arr)
display(arr.shape)
arr[1,0]

In [ ]:
df_sorted = df.sort_values(by="Età", ascending=True)
display(df_sorted.head())
df_sorted = df_sorted.reset_index()
display(df_sorted.head())

In [ ]:
import names
import numpy as np

In [ ]:
list_names = []
list_surnames = []
list_nums = []
for i in range(0,30):
    num = np.random.randint(20,30,1)[0]
    #name = names.get_full_name()
    name = names.get_first_name()
    surname = names.get_last_name()
    #list_names.append([name, surname])
    list_names.append(name)
    list_surnames.append(surname)
    list_nums.append(num)

    #display(name)
display(list_names)
display(list_surnames)
display(list_nums)

In [ ]:
# Datafrane (dict-like container for Series Object)
# Each column of a dataframe is a Series
name_series = pd.Series(list_names, name="Nome")
surname_series = pd.Series(list_surnames, name="Cognomi")
age_series = pd.Series(list_nums, name="Età")

content = [name_series,surname_series,age_series]

df = pd.DataFrame(content).T
#display(df)
display(df.head())
#display(df.tail())
display(df.describe())

In [ ]:
# Datafrane (dict-like container for Series Object)
# Each column of a dataframe is a Series
content = {
    "Nome": list_names,
    "Cognomi": list_surnames,
    "Età" : list_nums
}
df = pd.DataFrame(content )
#display(df)
display(df.head())
#display(df.tail())
display(df.describe())

In [ ]:
display(df.sort_values(by="Età", ascending=False))

In [ ]:
df["Età"][0:4]

In [ ]:
df[["Età","Cognomi"]][0:4]

In [ ]:
#df[df["Età"]==20]
df[(df["Età"]>20) & (df["Età"]<=24)]

In [ ]:
# Ricerca lettera
df[df["Nome"].str.contains("D|M") | df["Cognomi"].str.contains("D|M")]

In [ ]:
# Assegnare una colonna (replace method)
df["Nome"] = df["Nome"].str.replace("e",",")
df

In [ ]:
df["Nome"] = df["Nome"].str.replace(",","e")
df

## Csv and Excel Read and Write, selezionare tabelle specifiche

In [ ]:
# Dataset mondo covid 19
data = pd.read_csv('https://open-covid-19.github.io/data/data.csv')
data

             Date CountryCode  ...   Longitude  Population
0      2019-12-31          AE  ...   53.847818   9770529.0
1      2019-12-31          AF  ...   67.709953  38041754.0
2      2019-12-31          AM  ...   45.038189   2957731.0
3      2019-12-31          AT  ...   14.550072   8955102.0
4      2019-12-31          AU  ...  133.775136  25203198.0
...           ...         ...  ...         ...         ...
13200  2020-03-31          XK  ...   20.902977         NaN
13201  2020-03-31          ZA  ...   22.937506  58558270.0
13202  2020-03-31          ZM  ...   27.849332  17861030.0
13203  2020-03-31          ZW  ...   29.154857  14645468.0
13204  2020-04-01          ES  ...   -3.749220  46736776.0

[13205 rows x 10 columns]

In [ ]:
# Dataset mondo covid 19
dati_province = "https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province.csv"
dati_regioni = "https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv"
dati_italia = "https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv"
data = pd.read_csv(dati_italia)
display(data.head(8))

                  data stato  ricoverati_con_sintomi  ...  tamponi  note_it  note_en
0  2020-02-24T18:00:00   ITA                     101  ...     4324      NaN      NaN
1  2020-02-25T18:00:00   ITA                     114  ...     8623      NaN      NaN
2  2020-02-26T18:00:00   ITA                     128  ...     9587      NaN      NaN
3  2020-02-27T18:00:00   ITA                     248  ...    12014      NaN      NaN
4  2020-02-28T18:00:00   ITA                     345  ...    15695      NaN      NaN
5  2020-02-29T18:00:00   ITA                     401  ...    18661      NaN      NaN
6  2020-03-01T18:00:00   ITA                     639  ...    21127      NaN      NaN
7  2020-03-02T18:00:00   ITA                     742  ...    23345      NaN      NaN

[8 rows x 15 columns]

In [ ]:
data.dtypes

data                          object
stato                         object
ricoverati_con_sintomi         int64
terapia_intensiva              int64
totale_ospedalizzati           int64
isolamento_domiciliare         int64
totale_positivi                int64
variazione_totale_positivi     int64
nuovi_positivi                 int64
dimessi_guariti                int64
deceduti                       int64
totale_casi                    int64
tamponi                        int64
note_it                       object
note_en                       object
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 15 columns):
data                          36 non-null object
stato                         36 non-null object
ricoverati_con_sintomi        36 non-null int64
terapia_intensiva             36 non-null int64
totale_ospedalizzati          36 non-null int64
isolamento_domiciliare        36 non-null int64
totale_positivi               36 non-null int64
variazione_totale_positivi    36 non-null int64
nuovi_positivi                36 non-null int64
dimessi_guariti               36 non-null int64
deceduti                      36 non-null int64
totale_casi                   36 non-null int64
tamponi                       36 non-null int64
note_it                       8 non-null object
note_en                       8 non-null object
dtypes: int64(11), object(4)
memory usage: 4.3+ KB

In [ ]:
data.to_excel('dati_italia.xlsx', index=False)

In [ ]:
data.to_csv('dati_italia.csv', index=False)

In [ ]:
data = pd.read_excel('dati_italia.xlsx')
data
# Upload option

In [ ]:
dn = data[["data", "terapia_intensiva"]]
display(dn.shape)
dn = dn.T
display(dn)
display(dn.shape)
# Assegnamento importante

(36, 2)

                                     0  ...                   35
data               2020-02-24T18:00:00  ...  2020-03-30T17:00:00
terapia_intensiva                   26  ...                 3981

[2 rows x 36 columns]

(2, 36)

In [ ]:
# Vogliamo le ultime 5 date o le prime 5 date
dn = data[["data", "terapia_intensiva","isolamento_domiciliare", "ricoverati_con_sintomi"]]
display(dn.head(5)) # prime 5
display(dn.tail(5)) # le ultime 5

                  data  ...  ricoverati_con_sintomi
0  2020-02-24T18:00:00  ...                     101
1  2020-02-25T18:00:00  ...                     114
2  2020-02-26T18:00:00  ...                     128
3  2020-02-27T18:00:00  ...                     248
4  2020-02-28T18:00:00  ...                     345

[5 rows x 4 columns]

                   data  ...  ricoverati_con_sintomi
31  2020-03-26T17:00:00  ...                   24753
32  2020-03-27T17:00:00  ...                   26029
33  2020-03-28T17:00:00  ...                   26676
34  2020-03-29T17:00:00  ...                   27386
35  2020-03-30T17:00:00  ...                   27795

[5 rows x 4 columns]

In [ ]:
# Select specific rows columns
sel = dn.loc[data["ricoverati_con_sintomi"]>100]
#sel = dn.loc[data["ricoverati_con_sintomi"]>100, "isolamento_domiciliare"]
sel

                   data  isolamento_domiciliare
24  2020-03-19T17:00:00                   14935
25  2020-03-20T17:00:00                   19185
26  2020-03-21T17:00:00                   22116
27  2020-03-22T17:00:00                   23783
28  2020-03-23T17:00:00                   26522
29  2020-03-24T17:00:00                   28697

In [ ]:
# Select specific row columns (da a (data specifica))
#2020-03-19T17:00:00	
#2020-03-25T17:00:00
# index[0] This will return the index of the first row of the result...
dn = data[["data", "terapia_intensiva","isolamento_domiciliare", "ricoverati_con_sintomi"]]

idxstart = dn[dn["data"]=="2020-03-19T17:00:00"].index[0]
idxstop = dn[dn["data"]=="2020-03-25T17:00:00"].index[0]
print(idxstart,idxstop)

#dn = dn.iloc[idxstart:idxstop,:]  # row da data scelta start a data scelta stop, colonne tutte
#dn = dn.iloc[idxstart:idxstop,:-1]  # -1 rimuove la colonna
#dn = dn.iloc[idxstart:idxstop,2:4]  # 4 colonne 
dn = dn.iloc[idxstart:idxstop,[0,2]]  # 4 colonne 
dn

24 30
ERROR! Session/line number was not unique in database. History logging moved to new session 66

                   data  isolamento_domiciliare
24  2020-03-19T17:00:00                   14935
25  2020-03-20T17:00:00                   19185
26  2020-03-21T17:00:00                   22116
27  2020-03-22T17:00:00                   23783
28  2020-03-23T17:00:00                   26522
29  2020-03-24T17:00:00                   28697

## Grafici usando pandas e matplotlib

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 15 columns):
data                          37 non-null object
stato                         37 non-null object
ricoverati_con_sintomi        37 non-null int64
terapia_intensiva             37 non-null int64
totale_ospedalizzati          37 non-null int64
isolamento_domiciliare        37 non-null int64
totale_positivi               37 non-null int64
variazione_totale_positivi    37 non-null int64
nuovi_positivi                37 non-null int64
dimessi_guariti               37 non-null int64
deceduti                      37 non-null int64
totale_casi                   37 non-null int64
tamponi                       37 non-null int64
note_it                       8 non-null object
note_en                       8 non-null object
dtypes: int64(11), object(4)
memory usage: 4.5+ KB

In [ ]:
dn = data[["data", "totale_casi", "deceduti","totale_positivi"]]
display(dn)

                   data  totale_casi  deceduti  totale_positivi
0   2020-02-24T18:00:00          229         7              221
1   2020-02-25T18:00:00          322        10              311
2   2020-02-26T18:00:00          400        12              385
3   2020-02-27T18:00:00          650        17              588
4   2020-02-28T18:00:00          888        21              821
5   2020-02-29T18:00:00         1128        29             1049
6   2020-03-01T18:00:00         1694        34             1577
7   2020-03-02T18:00:00         2036        52             1835
8   2020-03-03T18:00:00         2502        79             2263
9   2020-03-04T18:00:00         3089       107             2706
10  2020-03-05T18:00:00         3858       148             3296
11  2020-03-06T18:00:00         4636       197             3916
12  2020-03-07T18:00:00         5883       233             5061
13  2020-03-08T18:00:00         7375       366             6387
14  2020-03-09T18:00:00         9172       463             7985
15  2020-03-10T18:00:00        10149       631             8514
16  2020-03-11T17:00:00        12462       827            10590
17  2020-03-12T17:00:00        15113      1016            12839
18  2020-03-13T17:00:00        17660      1266            14955
19  2020-03-14T17:00:00        21157      1441            17750
20  2020-03-15T17:00:00        24747      1809            20603
21  2020-03-16T17:00:00        27980      2158            23073
22  2020-03-17T17:00:00        31506      2503            26062
23  2020-03-18T17:00:00        35713      2978            28710
24  2020-03-19T17:00:00        41035      3405            33190
25  2020-03-20T17:00:00        47021      4032            37860
26  2020-03-21T17:00:00        53578      4825            42681
27  2020-03-22T17:00:00        59138      5476            46638
28  2020-03-23T17:00:00        63927      6077            50418
29  2020-03-24T17:00:00        69176      6820            54030
30  2020-03-25T17:00:00        74386      7503            57521
31  2020-03-26T17:00:00        80539      8165            62013
32  2020-03-27T17:00:00        86498      9134            66414
33  2020-03-28T17:00:00        92472     10023            70065
34  2020-03-29T17:00:00        97689     10779            73880
35  2020-03-30T17:00:00       101739     11591            75528
36  2020-03-31T17:00:00       105792     12428            77635